# Database files generated when testing
*.db

# Audio files that may be used when testing
*.mp3
*.ogg
*.wav

# Test scripts
test*

# JSON files (generally will be dummy/test files)
*.json

# Vi(m) files
*.swo
