/*------------------*
 * Global variables *
 *------------------*/
/*------------------*
 * Global variables *
 *------------------*/
:root {
    /* Main bg colours */
    --bgc-00: rgb(250, 250, 255);
    --bgc-01: rgb(240, 240, 255);
    --bgc-02: rgb(230, 230, 255);
    --bgc-03: rgb(220, 220, 255);
    --bgc-04: rgb(210, 210, 255);
    --bgc-05: rgb(200, 200, 255);
    --bgc-06: rgb(190, 190, 255);
    --bgc-07: rgb(180, 180, 255);
    --bgc-08: rgb(170, 170, 255);
    --bgc-09: rgb(160, 160, 255);
    --bgc-10: rgb(150, 150, 255);
    /* Desaturated bg colours */
    --bgc-desat-00: rgb(250, 250, 255);
    --bgc-desat-01: rgb(240, 240, 250);
    --bgc-desat-02: rgb(230, 230, 240);
    --bgc-desat-03: rgb(220, 220, 230);
    --bgc-desat-04: rgb(210, 210, 220);
    --bgc-desat-05: rgb(200, 200, 210);
    --bgc-desat-06: rgb(190, 190, 200);
    --bgc-desat-07: rgb(180, 180, 190);
    --bgc-desat-08: rgb(170, 170, 180);
    --bgc-desat-09: rgb(160, 160, 170);
    --bgc-desat-10: rgb(150, 150, 160);
}
