/*------------------------------------*
 * DataList.UI Main/Generic Container *
 *------------------------------------*/
.dataList {
}
    /* Internal Data.UI (generic) elements */
    .dataList>.data {
        /* Space elements a little (right & bottom) */
        margin: 0 var(--control-spacing) var(--control-spacing) 0;
    }
/*--------------------------------------*
 * DataList.UI.Buttonset Main Container *
 *--------------------------------------*/
.dataButtonset {
    /* Counter extra margin from bottom row of buttons */
    margin-bottom: calc(0em - var(--control-spacing));
}
    /*----------------*
     * Header Section *
     *----------------*/
    .dataButtonset>.header {
        display: none;
    }
    /*----------------*
     * Search Section *
     *----------------*/
    .dataButtonset>.search {
        /* Strip fieldset border */
        border: none;
        /* Strip bloat */
        padding: 0;
        /* Position inline with buttons */
        float: left;
        /* Match button height better */
        height: 1.6em;
        /* Add some space after the section */
        margin-right: calc(var(--control-spacing) + 0.1em);
    }
        .dataButtonset>.search>.header {
            /* Redundant with placeholder */
            display: none;
        }
        .dataButtonset>.search>label {
            /* Redundant with placeholder */
            display: none;
        }
        /* Actual search box */
        .dataButtonset>.search>input {
            /* Round corners */
            border-radius: 0.3em;
            /* Apply global theme colours */
            background: var(--bgc-02);
            /* Add a little space left/right of content */
            padding: 0 0.2em;
            /* Height defined by container; fill all available space */
            height: 100%;
            /* Scale down text a little */
            font-size: 0.8em;
            /* Slim/set width (relative to font-size) */
            width: 11em;
        }
            /* Mouseover */
            .dataButtonset>.search>input:hover {
                /* Apply global theme colours */
                background: var(--bgc-01);
            }
            /* Has focus/typing */
            .dataButtonset>.search>input:focus {
                /* Apply global theme colours */
                background: var(--bgc-01);
            }
