/*-------------------------------*
 * Filter.UI.Data Main Container *
 *-------------------------------*/
.dataFilter {
}
    /*-------------------------------------*
     * Buttons Section/Buttonset Container *
     *-------------------------------------*/
    .dataFilter>.body.buttons {
        /* Counter extra margin from bottom row of buttons */
        margin-bottom: calc(0em - var(--control-spacing));
    }
        /* Actual Buttons */
        .dataFilter>.body.buttons .ui-button {
            /* Space buttons a little (right & bottom) */
            margin: 0 var(--control-spacing) var(--control-spacing) 0;
            /* Apply global theme colours */
            background: var(--bgc-02);
            border: thin solid var(--bgc-desat-07);
        }
            /* Mouseover */
            .dataFilter>.body.buttons .ui-button:hover {
                /* Apply global theme colours */
                background: var(--bgc-03);
                border: thin solid var(--bgc-07);
            }
            /* Selected/Active */
            .dataFilter>.body.buttons .ui-button.ui-state-active {
                /* Apply global theme colours */
                background: var(--bgc-04);
                border: thin solid var(--bgc-10);
            }
