/*-------------------------------*
 * Filter.UI.Data Main Container *
 *-------------------------------*/
.dataFilter {
}
    /*----------------*
     * Search Section *
     *----------------*/
    .dataFilter>.search {
        /* Position inline with options section */
        float: left;
        /* Match button heights a little better */
        height: 1.6em;
        /* Strip bloat & border */
        margin: 0;
        padding: 0;
        border: none;
        /* Add some space after the section */
        margin-right: calc(var(--control-spacing) + 0.1em);
    }
        .dataFilter>.search>legend {
            /* Redundant with placeholder */
            display: none;
        }
        .dataFilter>.search>label {
            /* Redundant with placeholder */
            display: none;
        }
        /* Actual field/input */
        .dataFilter>.search>input {
            /* Round corners */
            border-radius: 0.3em;
            /* Apply global theme colours */
            background: var(--bgc-02);
            border-bottom: thin solid var(--bgc-desat-07);
            border-right:  thin solid var(--bgc-desat-07);
            /* Add a little space left/right of content */
            padding: 0 0.2em;
            /* Height defined by container; fill all available space */
            height: 100%;
            /* Scale down text a little */
            font-size: 0.8em;
            /* Slim/set width (relative to font-size) */
            width: 11em;
        }
            /* Mouseover */
            .dataFilter>.search>input:hover {
                /* Apply global theme colours */
                background: var(--bgc-01);
            }
            /* Has focus/typing */
            .dataFilter>.search>input:focus {
                /* Apply global theme colours */
                background: var(--bgc-01);
                border-bottom: thin solid var(--bgc-desat-09);
                border-right:  thin solid var(--bgc-desat-09);
            }
    /*-----------------------------*
     * Buttons Section Placeholder *
     *-----------------------------*/
    .dataFilter>.placeholder.buttons {
        /* Remove bloat */
        margin:0;
        /* Align a little better with other controls */
        padding-top: var(--control-spacing);
        /* Strip bloat added by the top padding */
        margin-bottom: -1em;
    }
    /*-------------------------------------*
     * Buttons Section/Buttonset Container *
     *-------------------------------------*/
    .dataFilter>.body.buttons {
        /* Counter extra margin from bottom row of buttons */
        margin-bottom: calc(0em - var(--control-spacing));
    }
        /* Actual Buttons */
        .dataFilter>.body.buttons .ui-button {
            /* Space buttons a little (right & bottom) */
            margin: 0 var(--control-spacing) var(--control-spacing) 0;
            /* Apply global theme colours */
            background: var(--bgc-02);
            border: thin solid var(--bgc-desat-07);
        }
            /* Mouseover */
            .dataFilter>.body.buttons .ui-button:hover {
                /* Apply global theme colours */
                background: var(--bgc-03);
                border: thin solid var(--bgc-07);
            }
            /* Selected/Active */
            .dataFilter>.body.buttons .ui-button.ui-state-active {
                /* Apply global theme colours */
                background: var(--bgc-04);
                border: thin solid var(--bgc-10);
            }
