/*-------------------------------*
 * Filter.UI.Data Main Container *
 *-------------------------------*/
.dataFilter {
}
    /*-----------------------------*
     * Buttons Section Placeholder *
     *-----------------------------*/
    .dataFilter>.placeholder.buttons {
        /* Remove bloat */
        margin:0;
        /* Align a little better with other controls */
        padding-top: var(--control-spacing);
        /* Strip bloat added by the top padding */
        margin-bottom: -1em;
    }
