/*-----------*
 * Variables *
 *-----------*/
/* Pseudo-Global */
.filter {
    /* Main control spacing amount */
    --control-spacing: 0.3em;
}
    /* Filter Button Widgets */
    .filter .ui-button {
        /* Button Rounding Amount */
        --border-radius: 0.3em;
    }
        /* Filter Button Widget Text/Label */
        .filter .ui-button-text {
            /* Default left/right padding amount */
            --padding-x: 0.4em;
            /* Default top/bottom padding amount */
            --padding-y: 0.2em;
            /* All default padding shorthand (reduces size/bloat) */
            --padding: var(--padding-y) var(--padding-x);
        }

/*---------------------------------*
 * Common Filter.UI Main Container *
 *---------------------------------*/
.filter {
    /* Remove pointless tiny default margin */
    margin: 0;
}
    /*-------------------------------*
     * Filter Button Widget Defaults *
     *-------------------------------*/
    /* Actual Button Widget */
    .filter .ui-button {
        /* Round corners */
        border-radius: var(--border-radius);
    }
        /* Button Widget Text/Label */
        .filter .ui-button-text {
            /* Slim button down/remove bloat */
            padding: var(--padding);
        }
    /*----------------------*
     * Options/Meta Section *
     *----------------------*/
    .filter>.options {
        /* Allow main Filter settings to sit next to options */
        float: left;
        /* Remove pointless border & bloat */
        border: none;
        margin: 0;
        padding: 0;
        /* Add -slight- space after options to hint at separation of sections */
        margin-right: calc(var(--control-spacing) / 2);
    }
        /* Options section main header */
        .filter>.options>.header {
            /* Hide by default */
            display: none;
        }
        .filter>.options>.option {
            /* Remove pointless (potential) bloat */
            padding: 0;
        }
        /*----------------*
         * Option Buttons *
         *----------------*/
        .filter>.options .ui-button {
            /* Apply global theme colours */
            background: var(--bgc-desat-03);
            border: thin solid var(--bgc-desat-09);
        }
            /* Mouseover */
            .filter>.options .ui-button.ui-state-hover {
                /* Apply global theme colours */
                background: var(--bgc-desat-02);
                border: thin solid var(--bgc-desat-08);
            }
            /* Selected/Active */
            .filter>.options .ui-button.ui-state-active {
                /* Apply global theme colours */
                background: var(--bgc-desat-01);
                border: thin solid var(--bgc-desat-10);
            }
            /*----------------------------------*
             * Checkbox Specific Button Options *
             *----------------------------------*/
            .filter>.options>.optionCheckbox {
            }
                /* Actual Button */
                .filter>.options>.optionCheckbox .ui-button {
                    /* Space buttons a little */
                    margin-right: var(--control-spacing);
                }
            /*-------------------------------*
             * Radio Specific Button Options *
             *-------------------------------*/
            .filter>.options>.optionRadio {
                /* Pull inline with other options */
                display: inline-block;
                /* Remove (fieldset) border */
                border: none;
            }
                /* Actual Buttons */
                .filter>.options>.optionRadio .ui-button {
                    /* Fix margin overlapping too far left */
                    margin-right:-0.05em;
                }
                /* First Button in group */
                .filter>.options>.optionRadio .ui-button:first-of-type {
                    /* Unround right corners */
                    border-top-right-radius:    0;
                    border-bottom-right-radius: 0;
                }
                /* Middle Buttons in group */
                .filter>.options>.optionRadio .ui-button:not(:first-of-type):not(:last-of-type) {
                    /* Unround all corners */
                    border-radius: 0;
                }
                /* Last Button in group */
                .filter>.options>.optionRadio .ui-button:last-of-type {
                    /* Unround left corners */
                    border-top-left-radius:    0;
                    border-bottom-left-radius: 0;
                }
    /*---------------------------*
     * Generic 'body' section(s) *
     *---------------------------*/
    .filter>.body {
        /* Strip border & padding by default (primarily for <fieldset>s) */
        border: none;
        padding: 0;
    }
        /* Generic 'body' section headers */
        .filter>.body>.header {
            /* Hide by default */
            display: none;
        }
