/*------------------*
 * Global Variables *
 *------------------*/
:root {
    /* Default/Global spacing for UI controls */
    --control-spacing: 0.3em;
}

/*------------------------*
 * Global/Default styling *
 *------------------------*/
body {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    background-color: var(--bgc-00);
}

/*----------------------*
 * Audio Player styling *
 *----------------------*/
#audioPlayer {
    /* Fill horizontal space */
    width: 100%;
    /* 'Stick' to bottom of window */
    position: fixed;
    bottom: 0;
    /* Fix weird indent repositioning adds */
    left: 0;
}

/* Hack to fix context menus behind Dialog widgets */
.ui-menu {
    z-index: 1000;
}
