/*------------------*
 * Global Variables *
 *------------------*/
:root {
    /* Default/Global spacing for UI controls */
    --control-spacing: 0.3em;
}

/*------------------------*
 * Global/Default styling *
 *------------------------*/
body {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif;
    background-color: var(--bgc-00);
}

audio {
    width: 100%;
}
