/*--------------------------------------*
 | QuickFilter.UI.Tabs Widget Container |
 *--------------------------------------*/
.quickFilterTabs {
    /* Cool grey gradient bg to add a little 'presence' */
    background: linear-gradient(
        var(--bgc-desat-02) 0%,
        var(--bgc-desat-00) 25%,
        var(--bgc-desat-00) 70%,
        var(--bgc-desat-03) 100%
    );
    /* Faint drop-shadow to bump up the presence a touch */
    box-shadow: 0.08em 0.08em 0.2em rgba(20, 20, 60, 0.5);
    /* A little breathing room for the shadow */
    margin-bottom: 0.5em;
    /* Disable text selection */
    -moz-user-select:none;
    user-select:none;
}
    /*----------------------*
     * Main/Tab-Bar Heading *
     *----------------------*/
    .quickFilterTabs>h1 {
        /* Move into the tab bar */
        float: left;
        /* Add a litte space at the sides */
        margin: 0em 0.4em;
        /* Push the heading into better vertical alignment with the tabs */
        margin-top: 0.6em;
        /* Scale, colour & prettify the text */
        font-size: 0.9em;
        color: white;
        text-shadow:
            -0.07em -0.07em 0.20em black,
             0.10em  0.10em 0.00em black
        ;
        /* Replace text selection cursor */
        cursor: default;
    }
    /* Tab Bar */
    .quickFilterTabs>ul {
        /* Slightly cooler bg gradient */
        background: linear-gradient(
            var(--bgc-desat-05) 0%,
            var(--bgc-desat-03) 40%,
            var(--bgc-desat-03) 60%,
            var(--bgc-desat-06) 100%
        );
    }
        /* All Tabs */
        .quickFilterTabs>ul>li {
            /* Cooler bg gradient */
            background: linear-gradient(
                rgb(240, 240, 245) 50%,
                rgb(200, 200, 220) 100%
            ) !important;
        }
            /* All/inactive mouseover */
            .quickFilterTabs>ul>li:hover {
                /* Lighten the top & darken the bottom */
                background: linear-gradient(
                    rgb(245, 245, 250) 50%,
                    rgb(190, 190, 210) 100%
                ) !important;
            }
            .quickFilterTabs>ul>li>a {
                /* Scale down the tabs a touch */
                font-size: 0.8em;
                padding: 0.3em 0.8em !important;
            }
        /* Active Tab */
        .quickFilterTabs>ul>li.ui-tabs-active {
            /* Prettify/Match main bg */
            background: linear-gradient(
                /*var(--bgc-desat-02) -25%,*/ /* Roughly match the main gradient */
                var(--bgc-desat-04) 0%,       /* Add a little presence */
                var(--bgc-desat-00) 60%
            ) !important;
        }
    /*------------------------------*
     | Tabbed QuickFilter Container |
     *------------------------------*/
    .quickFilterTabs>.quickFilter {
        font-size: 0.9em;
        padding: 0em;
    }
        /*---------------------------*
         | Tabbed QuickFilter Header |
         *---------------------------*/
        .quickFilterTabs>.quickFilter>header {
            /* Headers not required due to Tab names */
            display: none;
        }
